.plotly-figure {
  margin: 1.5em 0;

  iframe {
    max-width: 100%;
    background: transparent;
  }

  figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 0.5em;
    color: #888;
  }
}
